<!DOCTYPE html>
<html>
<head>
    <title>Naxa</title>
</head>
<body>

<h1 align="center">Django Boiler Plate </h1>
<h1 align="center">Congratulation Setup Successfully Completed!!!! </h1>
<p align="center">Base project structure with some included package and function. To be used for all projects In Naxa
   for Backend</p>
<h3>Package Included </h3>
<div>
    <li>Swagger for Api Documentation</li>
    <li>Debug ToolBar</li>
    <li>Cors-header for cors control</li>
    <li>Django Filters</li>
    <li>Gunicorn for production server</li>
</div>

</body>
</html>